
<div class="container" style="margin-left:15%; margin-top:15%; margin-bottom: 10%;" >
    <div class="card" style="width: 1000px;">
    <div style="background-color: rgb(255, 255, 255)" class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text"><small class="text-muted">Update at {{product.updatedAt}}</small></p>
    </div>
    <img src="../images/{{product.image}}" class="card-img-bottom" alt="...">
    </div>
</div>
