<div class="container" style="margin-top:10%; margin-bottom: 10%;">
    <a style="margin-right:30px;" href="/admin/stored/products">Danh sách món ăn</a>
    <a style="margin-right:30px;" href="/admin/stored/books">Danh sách đơn hàng</a>
    <a href="">Danh sách bài viết</a>
</div>